.header_container {
    width: 100%;
    background-color: sandybrown;
    height: 100px;
    margin:0;
    padding:10px;
    box-sizing: border-box;
    border-bottom: 1px solid white;
    position: relative;
}

.link_area {
    display: inline-block;
    padding: 10px;
    position: absolute;
    right: 30px; 
    bottom: 0px;
}

.link_area a{
    text-decoration: none;
    font-size: 25px;
    margin: 5px;
    padding: 3px;
    color: white;    
}

.link_area a:hover{
    background-color:white;
    color: black;
}

a{
    transition-duration: 0.4s;
}

a:active {
    background-color:white;
    color: black;  
}
